# Block everything.
/*

# White-list files.
!.gitignore
!.gitattributes
!README.md
!composer.json
!composer.lock
!phpunit.xml
!phpunit_coverage.txt
!psalm.xml

# White-list entire directories.
!src/
!tests/
!.github/

# Ignore crap files.
**/*.*~
**/*#*
