# Block everything.
/*

# White-list files.
!.gitignore
!.gitattributes
!README.md
!composer.json
!composer.lock
!phpunit.xml
!psalm.xml
!coverage.txt
!phpunit-coverage-badge.svg
!CLAUDE.md

# White-list entire directories.
!src/
!tests/
!.github/

# Ignore crap files.
**/*.*~
**/*#*
